@{
    // get source from URL
    FiremniTestovani.Models.ApplicationSource source = (FiremniTestovani.Models.ApplicationSource)Context.Items["source"];
}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewData["Title"] | Administrace | FiremniTestovani.Web</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/lib/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Sweet alerts -->
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
    <!-- Custom css -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">

    @RenderSection("Header", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                        <a href="../../index3.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link">Contact</a>
                    </li>*@
            </ul>

            <!-- SEARCH FORM -->
            @*<form class="form-inline ml-3">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>*@

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <!--<li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">-->
                <!-- Message Start -->
                <!--<div class="media">
                    <img src="../../dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            Brad Diesel
                            <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                        </h3>
                        <p class="text-sm">Call me whenever you can...</p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                    </div>
                </div>-->
                <!-- Message End -->
                <!--</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">-->
                <!-- Message Start -->
                <!--<div class="media">
                    <img src="../../dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            John Pierce
                            <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                        </h3>
                        <p class="text-sm">I got your message bro</p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                    </div>
                </div>-->
                <!-- Message End -->
                <!--</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">-->
                <!-- Message Start -->
                <!--<div class="media">
                    <img src="../../dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            Nora Silvester
                            <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                        </h3>
                        <p class="text-sm">The subject goes here</p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                    </div>
                </div>-->
                <!-- Message End -->
                <!--</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>-->
                <!-- Notifications Dropdown Menu -->
                @*<li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-bell"></i>
                            <span class="badge badge-warning navbar-badge">15</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-item dropdown-header">15 Notifications</span>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-envelope mr-2"></i> 4 new messages
                                <span class="float-right text-muted text-sm">3 mins</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-users mr-2"></i> 8 friend requests
                                <span class="float-right text-muted text-sm">12 hours</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-file mr-2"></i> 3 new reports
                                <span class="float-right text-muted text-sm">2 days</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                        </div>
                    </li>*@
                @*<li class="nav-item">
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                            <i class="fas fa-th-large"></i>
                        </a>
                    </li>*@
            </ul>
            <partial name="_LoginPartial" />
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-action="Index" asp-controller="Home" class="brand-link">
                <img src="~/clients/@source.GetClientConfigDir()/img/logo.png"
                     alt="Logo"
                     class="brand-image"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">@source.CompanyName</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                @*<div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="info">
                            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="d-block">@User.Identity.Name</a>
                        </div>
                    </div>*@

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Admin" class="nav-link ft-full-match-only">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Přehled
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="TimeSlots" asp-controller="Admin" class="nav-link">
                                <i class="nav-icon far fa-calendar-alt"></i>
                                <p>
                                    Sloty
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Bookings" asp-controller="Admin" class="nav-link">
                                <i class="nav-icon fa fa-users"></i>
                                <p>
                                    Rezervace
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-download"></i>
                                <p>
                                    Exporty
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="DownloadDayExcel" asp-controller="Export" class="nav-link">
                                        <i class="far fa-file-excel nav-icon"></i>
                                        <p>Excel pro testování</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="DownloadDayResultExcel" asp-controller="Export" class="nav-link">
                                        <i class="far fa-file-excel nav-icon"></i>
                                        <p>Report ze dne</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link disabled">
                                        <i class="fa fa-virus nav-icon"></i>
                                        <p>Pozitivní testy</p>
                                        <span class="badge badge-warning">soon</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link disabled">
                                        <i class="fa fa-chart-bar nav-icon"></i>
                                        <p>Přehled kapacit</p>
                                        <span class="badge badge-warning">soon</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="TestSite" class="nav-link">
                                <i class="nav-icon fa fa-plus"></i>
                                <p>
                                    Testovací místo
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-users"></i>
                                <p>
                                    Správa uživatelů
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="UserRoles" class="nav-link">
                                        <i class="far fa-file-excel nav-icon"></i>
                                        <p>Role uživatelů</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="RoleManager" class="nav-link">
                                        <i class="far fa-file-excel nav-icon"></i>
                                        <p>Správa rolí</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        @RenderBody()

        <partial name="_Footer" />

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/lib/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <!-- SweetAlert -->
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>

    <script>
        var menuItems = $('.sidebar').find('.nav-item');

        $.each(menuItems, function (index, item) {
            var $link = $(item).find('a.nav-link');

            //if (window.location.pathname.indexOf($link.attr('href')) != -1) {
            if (window.location.pathname == $link.attr('href')) {
                $link.addClass('active');

                var $parentNavItem = $link.closest('.nav-item');

                //console.log($parentNavItem);
                if ($parentNavItem.parent().hasClass('nav-treeview')) {
                    $parentNavItem.parent().parent().addClass('menu-open');
                }
            }
        });
    </script>

    <script>
        var dataTableCzech = {
            emptyTable: 'Tabulka neobsahuje žádná data',
            info: 'Zobrazuji _START_ až _END_ z celkem _TOTAL_ záznamů',
            infoEmpty: 'Zobrazuji 0 až 0 z 0 záznamů',
            infoFiltered: '(filtrováno z celkem _MAX_ záznamů)',
            infoThousands: ' ',
            lengthMenu: 'Zobraz záznamů _MENU_',
            loadingRecords: 'Načítám...',
            processing: 'Provádím...',
            search: 'Hledat:',
            zeroRecords: 'Žádné záznamy nebyly nalezeny',
            paginate: {
                first: 'První',
                last: 'Poslední',
                next: 'Další',
                previous: 'Předchozí'
            },
            aria: {
                sortAscending: ': aktivujte pro řazení sloupce vzestupně',
                sortDescending: ': aktivujte pro řazení sloupce sestupně'
            },
            buttons: {
                colvis: 'Zobrazení sloupců',
                colvisRestore: 'Původní nastavení'
            },
            searchBuilder: {
                add: 'Přidat podmínku',
                clearAll: 'Smazat vše',
                condition: 'Podmínka',
                conditions: {
                    date: {
                        after: 'po',
                        before: 'před',
                        between: 'mezi',
                        empty: 'prázdné',
                        equals: 'rovno',
                        not: 'není',
                        notBetween: 'není mezi',
                        notEmpty: 'není prázdné'
                    },
                    moment: {
                        after: 'po',
                        before: 'před',
                        between: 'mezi',
                        empty: 'prázdné',
                        equals: 'rovno',
                        not: 'není',
                        notBetween: 'není mezi',
                        notEmpty: 'není prázdné'
                    },
                    number: {
                        between: 'mezi',
                        empty: 'prázdné',
                        equals: 'rovno',
                        gt: 'větší',
                        gte: 'rovno a větší',
                        lt: 'menší',
                        lte: 'rovno a menší',
                        not: 'není',
                        notBetween: 'není mezi',
                        notEmpty: 'není prázdné'
                    },
                    string: {
                        contains: 'obsahuje',
                        empty: 'prázdné',
                        endsWith: 'končí na',
                        equals: 'rovno',
                        not: 'není',
                        notEmpty: 'není prázdné',
                        startsWith: 'začíná na'
                    },
                    array: {
                        equals: 'rovno',
                        empty: 'prázdné',
                        contains: 'obsahuje',
                        not: 'není',
                        notEmpty: 'není prázdné',
                        without: 'neobsahuje'
                    }
                },
                data: 'Sloupec',
                logicAnd: 'A',
                logicOr: 'NEBO',
                title: [
                    'Rozšířený filtr'
                ],
                value: 'Hodnota'
            },
            select: {
                1: 'Vybrán %d záznam',
                2: 'Vybrány %d záznamy',
                _: 'Vybráno %d záznamů'
            }
        };
    </script>

    <script>
        // Sweet Alert
        function frSweetAlert(icon, title, text, callback) {
            let timerInterval
            Swal.fire({
                icon: icon,
                title: title,
                html: text,
                timer: 2000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    timerInterval = setInterval(() => {
                        const content = Swal.getContent()
                        if (content) {
                            const b = content.querySelector('b')
                            if (b) {
                                b.textContent = Swal.getTimerLeft()
                            }
                        }
                    }, 100)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }
            }).then((result) => {
                if (typeof (callback) === 'function') {
                    callback();
                }
                ///* Read more about handling dismissals below */
                //if (result.dismiss === Swal.DismissReason.timer) {
                //    console.log('I was closed by the timer')
                //}
            })
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>